<!--<footer class="footer">
    <div class="row">
        <div class="col-md-4">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
         <div class="col-md-4">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
         <div class="col-md-4">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
</footer>-->
<nav class="navbar fixed-bottom navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" href="#">About us</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
       <div class="row text-white">
        <div class="col-md-4">
            <p class="hpa">Fail turin zir a ngai lo. Chuvangin fail turin zir ngai suh. <br> ~ Hpa</p>
        </div>
         <div class="col-md-4">
            <p class="hpa">I chak zawng chu ti mai rawh, thi thei reng i nih kha i ti hman lo ange aw. Mahse Pathian hre reng
            chungin aw. <br>~ Hpa Tunechi</p>
        </div>
         <div class="col-md-4">
            <p class="hpa">I hmeltha an tih chuan dawt a ni thei, mahse i hmelchhia an tih chuan dawt a ni lo haw hle rawh.<br>~ Tunechi bitch</p>
        </div>
    </div>
  </div>
</nav>